{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.cookies: For the cookie banner messages.
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{% if page.cookies %}
  {{ page.cookies }}
{% endif %}

{% if govuk_cookie %}
  {{ govuk_cookie }}
{% endif %}

<div id="skiplink-container">
  <div>
    <a href="#main-content" class="skiplink govuk-skip-link" title="Skip to main content">Skip to main content</a>
  </div>
</div>

<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    {{ govuk_header }}
    {% if page.navigation %}
      <div class="hamburger icon" onclick="toggleMobileMenu();">
        <i class="fa fa-bars"></i>
      </div>
      {{ page.navigation }}
    {% endif %}
    {% if search_box %}
      {{ search_box }}
    {% endif %}
  </div>
  <div id="mobile-menu"></div>
</header>
<div class="govuk-width-container">
  {% if govuk_phase_banner %}
    {{  govuk_phase_banner }}
  {% endif %}
  {% if page.breadcrumb and show_breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}
  {%
    set main_classes = [
      'govuk-main-wrapper',
      show_breadcrumb ? 'has-breadcrumb',
      has_tabs ? 'has-local-tasks'
    ]
  %}
  <main {{ attributes.addClass(main_classes) }} id="main-content" role="main">
    <div class="govuk-grid-row">
      {% if page.sidebar_first %}
        <div class="govuk-grid-column-two-thirds">
      {% else %}
        <div class="govuk-grid-column-full">
      {% endif %}
        {{ page.content }}
      </div>
      {% if page.sidebar_first %}
        <div class="govuk-grid-column-one-third">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
    </div>
  </main>
</div>
<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          {% if page.footer %}
            {{ page.footer }}
          {% endif %}
          {{ govuk_footer }}
        </div>
        {{ govuk_meta }}
      </div>
    </div>
  </footer>
<!-- ends page template -->
